body{
    margin:0;
    background:linear-gradient(to left bottom , lightblue , white) ;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    color:darkgreen;
     overflow-x: hidden;
}
.container{
    background-color: aliceblue;
    padding: 35px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    


}
.heading{
    text-align: center;
}
.rcontainer{
display: flex;
justify-content: space-evenly;
font-size: 20px;
align-items: center;

}
.rating{
    
    padding:25px;
}
.rating:hover,
.rating.active
{
    background:darkseagreen;
    opacity:0.9;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,10px,0.3);
    transition: all 300ms ease;
    
}
.btn{
   margin-left: 20%; 
   padding:15px 30px;
   font-size: 20px;
   background: cyan;
   border:none;
   cursor: pointer;
   color: aliceblue;
}
.btn:hover{
    box-shadow: 0 0 10px rgba(0,0,10,0.3);
    transition: all 300ms ease;

}
.btn:active{
    transform: scale(0.9);
}



.rating img{
    width: 40px;
    
    
}
